<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>

<script type="text/javascript">
	
	google.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

    	var data = [];
    	data.push(['ID', 'ROW', 'COL', '', '']);
    	for(var i=1; i<12; i+=2){
			for(var j=1; j<12; j+=2){
	    		data.push(['', i, j, 1, 1]);
	    	}    		
    	}

	    var wells = google.visualization.arrayToDataTable(data);

      	var options = {
        	title: 'Sample Plate',
        	hAxis: {minValue: 12},
        	vAxis: {minValue: 12},
        	bubble: {textStyle: {fontSize: 11}}
      	};

      	var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      	chart.draw(wells, options);
    }
</script>

<div id="series_chart_div" style="width: 900px; height: 500px;">
	
</div>
   